name: UPDATE_YouTube
on:
    workflow_run:
        workflows: ["UPDATE_Blog"]
        types:
          - completed

jobs:
  update-readme-with-youtube:
    name: Update this repo's README with latest videos from YouTube
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "6"
          comment_tag_name: "YOUTUBE"
          feed_list: "https://www.youtube.com/feeds/videos.xml?channel_id=UCQ29GIFioA9IZToyGz7uRiw"
